<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify. Your. Fruit. OR. Vegetables</div>
    <p>
      Results not guaranteed
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
              <!-- CSS -->
        <style>
        #my_camera{
         width: 320px;
         height: 240px;
         border: 1px solid black;
         margin-left: auto;
         margin-right: auto;
        }
        </style>


        <div id="my_camera"></div>
        <button class='choose-file-button' type='button' onclick='take_snapshot()'>Analyse via webcam</button>
        <div class='result-label'>
            <label id='result-label'></label>
        </div>
        
    </div>
  </div>
</div>
  <script src='../static/webcamjs/webcam.min.js'></script>
  <script src='../static/client.js'></script>
</body>
</html>
